

body{
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 10em;
}

.dark-theme  {
  background-color: #282c34;
  min-height: 150vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.light-theme  {
  background-color: whitesmoke;
  min-height: 150vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}


.App-link {
  color: #61dafb;
}

button {
  padding: 20px;
  margin: 20px;
}

.dropdown{
  list-style-type:none;
  margin: 5px 0;
  padding: 10px;

}

.dropdown > li {
  align-items: center;
  margin: 1;
  background-color: aliceblue;
  width: 180px;
  color: #2d2d2e;
  cursor: pointer;
}

.dropdown > li:hover {
  background-color: #2d2d2e;
}


.card{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  border-radius: 10%;
  margin: 1em;
  max-width: 400px;
  overflow: hidden;
}

.card img {
  object-fit: cover;
  width: 100%;
}

.card p{
  font-size: 16px;
}

.card-body {
  background: #61dafb;
  padding: 1.5em;
}
.card:hover {
  opacity: 30%;
}

.inpyText {
  padding: 0.5em;
}

